

  body
  {
    background-color: var(--color-bg);
    color: var(--color-text);
    margin: 0 auto;
    padding: 2rem;
    min-width: 360px;
    max-width: 1280px;
    min-height: 100vh;
    z-index: 1;
  }

  .container
  {
    z-index: 100;
    width: 100%;
    max-width: 1340px;

    background-color: var(--color-bg-sec);
    color: var(--color-text);
    
    border-radius: 1em;
    box-shadow: 0em 0em 0.5em var(--color-bg-sec);
    /* var(--color-fill); */

  }
